server:
  port: 9910
  tomcat:
    uri-encoding: UTF-8

spring:
  http:
    encoding:
      charset: UTF-8
      force: true


# 熔断 HystrixCommandProperties  配置类 监控 http://m.blog.csdn.net/u012702547/article/details/78224483
hystrix:
  command:
    default:
      execution:
        timeout:
          enabled: true
        isolation:
          thread:
            timeoutInMilliseconds: 90000 #断路器的超时时间,断路器的超时时间需要大于ribbon的超时时间，不然不会触发重试。


# 均衡负载  DefaultClientConfigImpl  配置类
ribbon:
  ConnectTimeout: 1000 #ribbon请求连接的超时时间
  ReadTimeout: 60000 #请求处理的超时时间
  OkToRetryOnAllOperations: true #对所有操作请求都进行重试
  MaxAutoRetries: 1 #对当前实例的重试次数
  MaxAutoRetriesNextServer: 1 #对下个实例的重试次数

zuul:
  #请求转发给服务的时候忽略头信息
  ignored-headers: jwttoken
  #设置请求转发能够添加头信息
  add-host-header: true
  #设置敏感信息头为空
  sensitive-headers: Cookie,Set-Cookie,jwttoken
  routes:
    api-trade:
      path: /api-trade/**
      service-id: xlaoy-server
      retryable: true
    api-user:
      path: /api-user/**
      service-id: xlaoy-server
      retryable: true

apibasicauth:
  services:
    xlaoy-server:
      username: xlaoy
      password: 123456

jwt:
  secret: wocao

#打开actuator的所有端点
management:
  endpoints:
    web:
      exposure:
        include: "*"